<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" 
  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" 
  aria-expanded="false">
    Menú coches
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach (Departamento dept in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Empleados" asp-action="ListaEmpleados" asp-route-iddept="@dept.IdDepartamento">
                    @dept.Nombre
                </a>
            </li>    
        }
  </ul>
</div>
